*{
    padding: 0;
    margin: 0;
    font-family: "Arial", serif
}
.title{
    width: 100%;
    text-align: center;
}
.button{
    padding: 5px 15px;
    margin: 10px;
    float: right;
}
th, td{
    white-space:nowrap;
    overflow:hidden;
    word-break:keep-all;
    text-align: center;
    padding: 5px 10px;
}
tr td:first-child{
    background:deepskyblue;
    padding: 0 20px;
}
.extra{
    background: mediumspringgreen;
}
span{
    font-size: 13px;
    font-style: italic;
}
